
* {
    margin: 0;
    padding: 0;
    box-sizing:content-box;
}

body {
    font-family: Arial, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}
header {
    background-color: #333;
    color: white;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px;
}
